<select
        class="c-select"
        name="{{ field_type.input_name }}"
        {{ field_type.required ? 'required' }}>

    {% if not field_type.required %}
        <option>{{ trans(field_type.placeholder) }}</option>
    {% endif %}

    {% for iso, name in field_type.options %}
        <option value="{{ iso }}" {{ iso == field_type.value ? 'selected' }}>{{ name }}</option>
    {% endfor %}

</select>
